<meta name="Robots" content="index,follow"/>
<meta name="keywords" content="配眼鏡,驗光師,視光師,眼睛不舒服,專業驗光,頭暈,眼壓高,多焦點,Rodenstock,隱形眼鏡,白內障,視力檢查"/>
<meta name="description" content="常常覺得頭暈、眼壓高嗎？千萬別忽視眼鏡戴不舒服的問題！只有配好一副兼顧生理與矯正需求的眼鏡，才能讓人生重拾清晰與健康，馬上瞭解這種最新的個人化配鏡！"/>
<meta name="abstract" content="量身打造的個人化配鏡體驗，聚英視光眼科"/>
<meta name="DC.Rights" content="聚英視光眼科"/>
<meta name="DC.Date" content="2012/7/19"/>
<meta name="DC.Language" scheme="W3CDTF" content="zh-TW"/>
<meta name="DC.Subject" content="量身打造的個人化配鏡體驗，聚英視光眼科"/>
<meta name="DC.Type" content="知識交流"/>

<title>專業配鏡介紹 聚英視光眼科</title>

<div id="header">
  <div id="top">
    <%= render :partial => "common/nav" %>
    <!--nav-->
     
  </div>
  <!--top-->
  <div id="anchor"> <a href="#anchor1">傳統配鏡的問題？ </a><a href="#anchor2">醫師＋視光師能幫我做什麼？ </a> </div>
</div>
<!--header-->

<div id="main">
  <div class="content" id="content-1">
    <h2>結合機能與工藝的<br>
      個人化眼鏡</h2>
    <h3>從醫學驗光到個人化鏡片</h3>
    <div class="article">
      <h4>為什麼我配不到好眼鏡？</h4>
      首先，請您要先有一個正確觀念：「不管再多人戴眼鏡，近視、遠視和老花依然跟重聽、<br>
      弱視一樣是生理障礙」，而眼鏡是一種精密的視力矯正工具，為的是讓您擁有正常的生活機能，<br>
      因此同時關乎兩個層面：「生理」與「矯正」。<br>
      <a id="anchor1"><br></a>
      但在台灣這個「眼鏡王國」裡，負責「生理」的醫師與「矯正」的視光師始終一邊一國，<br>
      相信您早已習慣戴上新眼鏡後的頭暈腦脹，也多半體會過鏡架夾痛太陽穴的痛苦，<br>
      甚至長久以來忍受頭暈眼脹或視野變形，這些問題可能是因為半吊子的驗光、不適合的鏡片，<br>
      甚至戴上眼鏡後焦距移位，導致眼睛必須不斷適應等問題造成的。</div>
  </div>
  <!--content-1-->
  
  <div class="content" id="content-2">
    <div class="article"> 看病需要醫師下處方、藥劑師開藥，配眼鏡也需要醫師診斷眼睛狀況，<br>
      再交由<span title="擁有視光學位，精通驗光、照護、諮詢、矯正、
配鏡的真正專業人員">視光師</span>以光學專業進行配鏡，才能給您眼睛、鏡框、鏡片三位一體的完美結合。</div>
    <div class="images"> </div>
  </div>
  <!--content-2-->
  
  <div class="content" id="content-3">
    <h3>只花三分鐘驗光，當然怎麼戴怎麼不爽</h3>
    <div class="article"> 明明驗了光，戴上試鏡架也沒問題，為什麼新眼鏡還是需要適應？<br>
      一件殘酷的事實：就算您先去找眼科醫師驗光，還是很難配到好眼鏡，<br>
      因為一般眼鏡行的配鏡流程根本就有問題。</div>
    <h4>一般眼鏡行的配鏡流程哪裡不好：</h4>
    <div class="images"> </div>
    <div class="article">這種傳統的配鏡流程省略了很多重要步驟，不但缺乏醫師建議、未考慮眼球生理狀況，<a id="anchor2"><br></a> 
      也缺乏專業配鏡上的重要數值，比如眼睛的位置、鏡片與眼睛的距離、鏡框的角度等等，<br>
      當這些數值通通都用平均數字含糊帶過，還想戴得舒適健康，當然只能靠運氣。 </div>
  </div>
  <!--content-3-->
  
  <div class="content" id="content-4">
    <h2><span style="color:#057bd2">醫師</span>＋<span style="color:#00933e">視光師</span></h2>
    <h3>完全舒適的個人化配鏡新趨勢</h3>
    <h4>無須適應，才是個人最佳化眼鏡</h4>
    <div class="text"> 唯有醫師與視光師聯手，才能完備考量生理與光學需求，<br>
      量身訂做真正適合您的眼鏡，專業的個人化配鏡需做到以下四件事： </div>
    <div class="article" id="article-1">
      <h5>1.  配鏡前，要先了解您的需求</h5>
      眼鏡不是配得準就好，還要符合生活需求，例如長期坐在電腦前的上班<br>
      族，就該配中近距離專用鏡片，整天看遠的計程車司機則相反。<br>
      <br>
      在醫師為您建議合適的鏡片後，視光師也會在試戴階段為您模擬實際使<br>
      用狀況，並進行精確的調整，確保這副眼鏡不但適合您的眼睛，也適合<br>
      您的生活。 </div>
    <div class="article" id="article-2">
      <h5>2.  不只是電腦驗光的「醫學驗光」</h5>
      最常見的電腦驗光機有時會有很大誤差，應輔以主觀式驗光微調度數，<br>
      最高規格的「醫學驗光」，還會做足以下這些檢查：
      <div class="images"></div>
    </div>
    <div class="article" id="article-3">
      <h5>3.  考慮四大參數，進行個人化調整</h5>
      試戴用的鏡架，跟您選擇的鏡架大小尺寸絕對不一樣，鏡片到眼睛的距<br>
      離、角度等當然也會有所差異，應該以「瞳孔定位儀」量出配戴鏡框時<br>
      四個重要的數據，並精密計算出真正適合您配戴的鏡片度數。<br>
      <br>
      傳統配鏡通常都直接套用平均數，並不會配合鏡框修正，（比如說頂點<br>
      距離皆假設為12或14mm），若您曾經同時配過兩副眼鏡，就會發現一<br>
      樣度數的鏡片戴起來卻大不同，就是省略了微調造成的，除了度數錯誤<br>
      ，瞳孔中心點若沒對準鏡片，更會害眼球不斷下意識調整，雖然動作小<br>
      到不容易察覺，卻正是不少眼鏡族眼睛痛、頭痛、眼花的元兇。 </div>
    <div class="article" id="article-4">
      <h5>4.  量身訂做個人化鏡片</h5>
      為了完美結合鏡框與鏡片，必須使用瞳孔定位儀測量所有上述的數據，<br>
      並將數據傳回原廠打造獨一無二、適合您也適合這副鏡框的鏡片，雖然<br>
      需時較久，但醫師與視光師搭配的完整流程，配出來的眼鏡除了度數精<br>
      準、舒適健康，更有以下好處：
      <div class="images"></div>
    </div>
  </div>
  <!--content-4-->
  
  <div class="content" id="content-5"> <img src="<%=get_current_host_and_port%>images/sales-13.jpg" width="984" height="230" /></div>
  <!--content-5-->
  
  <div class="content" id="content-6">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="40%" rowspan="3" align="right" valign="bottom"><img src="images/sales-18.jpg" width="373" height="295" /></td>
        <td width="60%" align="left"><br><br><h3>眼科醫師與視光師結合，從檢查到矯正完全精通</h3>
          前台大主治醫師與中山醫學專業視光師聯手，是兼顧醫學檢查與矯正光學的真正專業團隊。 <br>
          <br></td>
      </tr>
      <tr>
        <td align="left"><h3>專業儀器</h3>
          重金引進角膜內皮細胞顯微分析儀、角膜地圖儀、德國瞳孔定位儀等高階儀器，能做到最高<br>
          規格的生理檢查，也能提供真正量身訂做的配鏡服務<br>
          <br></td>
      </tr>
      <tr>
        <td align="left"><h3>頂級鏡框、鏡片</h3>
          擁有德國最高等級Rodenstock、Porsche design、歐洲Abby兒童安全鏡框、頂級<br>
          Nexyma鏡片<br><br></td>
      </tr>
    </table>
  </div>
  <!--content-6--> 
  
</div>
<!--main-->
<%= render :partial => "common/footer" %>
<!--footer-->