<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.user_name %>您好:</h1>
    <p>您的問題:</p>
    <p><%= @question.content %></p>
    <p>已經有醫師回答了</p>
    <p>回答的內容如下</p>
    <p><%= @answer.content %></p>
  </body>
</html>