<div id="top">
  <h1 class="left"><a href="/admin/posts"><img src="<%=image_path("admin/h1.png")%>"></a></h1>
  <div class="right">你好，<%= current_user.user_name %>！<a href="<%=edit_user_registration_path%>">修改個人資料</a><%= link_to("登出", destroy_user_session_path, :method => :delete )%></div>
</div>
<!--top-->