<li><a href="<%=request.host_with_port+"/admin/posts"%>" id="posts" class="active">最新消息</a></li>
<li><a href="<%=request.host_with_port+"/admin/questions"%>" id="questions">醫師答客問</a></li>
<li><a href="<%=request.host_with_port+"/admin/boards/"+Board.first.id.to_s()%>" id="boards">醫療專欄</a></li>