/*-----------------------------------------------------------------------適應性設計---*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
textarea,input
{
-webkit-box-sizing: border-box; 
-moz-box-sizing: border-box; 
box-sizing: border-box;
}

/*-----------------------------------------------------------------------HTML5---*/

article,aside,footer,header,section,footer,nav,figure,menu{
display:block;
-webkit-box-sizing: border-box; 
-moz-box-sizing: border-box;  
box-sizing: border-box;
}

/*-------------------------------------------------------------------全域---*/

html{font:300 14px "微軟正黑體";background:image-url("admin/bg.jpg") 0 0 repeat-x #fbfdff}
body{width:1024px;margin:0 auto;background:none!important;line-height:1.7em;}
a{text-decoration:none;font:300 14px "微軟正黑體"}
.left{float:left}
.right{float:right}

/*-------------------------------------------------------------------頁首---*/

#top{height:50px;color:#fff;padding-top:15px;overflow:hidden}
#top a{text-shadow:0 1px 0 #206498;color:#fff;}
h1{position:relative;top:-14px;}
#top .right{width:566px;text-align:right}
#top .right a{border-radius:5px;border:1px solid #fff;padding:5px 10px;margin-left:10px}
#top .right a:hover{background:#2974ae;}

/*-------------------------------------------------------------------頁身---*/

#container{margin:30px 0;clear:both;overflow:hidden}

/*-------------------------------------------------------------------側邊欄---*/

#side{width:100px;position:relative;left:2px;text-align:center}
#side li{height:100px}
#side li a{background-image:image-url("admin/side.png");background-repeat:no-repeat;font-size:.9em;
	display:block;width:100%;height:100px;color:#7D8089;padding-top:65px;}
#side li a:hover{color:#152529}

#posts{background-position:-710px -68px}
#posts:hover{background-position:-710px 12px}
#questions{background-position:-70px -68px}
#questions:hover{background-position:-70px 12px}
#boards{background-position:-388px -68px}
#boards:hover{background-position:-388px 12px}
#users{background-position:-790px -68px}
#users:hover{background-position:-790px 12px}

.active{background:#fff;border-top:1px solid #ddd;border-left:1px solid #ddd;
	border-bottom:1px solid #ddd;border-radius:5px 0 0 5px;color:#111!important;}

/*-------------------------------------------------------------------主內容---*/

#main{background:#fff;border:1px solid #ddd;border-radius:5px;
	width:924px;padding:30px 30px 0 30px;min-height:500px;}
#main > div {margin-bottom:30px;}

/*-------------------------------------------------------------------表格---*/

.main-list{border:1px solid #ddd;border-radius:5px;color:#555;clear:both}
.main-list a{color:#3088cb}
.main-list a:hover{text-decoration:underline}
.main-list th{height:40px;background:image-url("admin/list.jpg") 0 0 repeat-x;
	text-shadow:0 1px 0 #fff;color:#555}
.main-list td{border-top:1px solid #D1D1DB;padding:10px 0;}
.main-list tr:nth-child(2n) {background:#F9F9F9}

/*-------------------------------------------------------------------按鈕---*/

.button{overflow:hidden;}
.button a,.button input{display:inline-block;height:40px;width:125px;text-align: center;float:right;
	color:#333;font-size:1em;margin:0 0 0 15px;border-radius:5px;
	background:image-url("admin/list.jpg") 0 0 repeat-x;border:1px solid #ddd}
.button a{padding:10px 0 0 0}
.button input{cursor: pointer;}
.button a:hover,.button input:hover{color:#777;}
.button img{position:relative;top:3px;margin-right:10px}
.button input[type="submit"]{}

/*-------------------------------------------------------------------分類---*/

.category a{color:#333;display:inline-block;padding:7px 10px;border-radius:5px;}
.category a:hover{color:#3088cb}
.category .select{background:#3088cb;color:#fff}
.category .select:hover{color:#fff;background:#2974ae;}

h2{font:300 22px "微軟正黑體";color:#777;display:inline-block;margin:0 15px 0 0;position:relative;top:2px;}
#user_is_admin{width:15px}

/*-------------------------------------------------------------------註冊---*/

.main-sign{width:400px!important;margin:0 auto}
.main-sign table,.main-form table{margin:20px 0}
.main-sign table td,.main-form table td{padding:5px 0;font:300 15px "微軟正黑體";color:#222}
.main-sign table td span,.main-form table td span{font:300 12px "微軟正黑體";color:#777}
.main-sign table input{width:97%;background:#fff;border:1px solid #ccc!important;border-radius:5px;padding:8px 5px}
.main-form input{width:53%;background:#fff;border:1px solid #ccc!important;border-radius:5px;padding:8px 5px}
.main-form{padding-left:35px}

/*-------------------------------------------------------------------2015修改---*/

.form td{padding:5px 0;}
.form img{max-width:100%;height:auto;}
.form textarea{width:100%;padding:15px;border:1px solid #ddd;border-radius:5px;
color:#333;min-height:300px;font:300 1em "微軟正黑體";line-height:1.7em;}

.form input{font-size:1em;width:100%;padding:8px;border:1px solid #ddd;border-radius:5px}

.form input[type="checkbox"]{width:auto;border:none;}

.form input[type="file"]{color:#aaa;}

.form #article_top{width:auto;}

/*密碼欄位*/
.form.hidden{width:62%;background:#f3f3f3;padding:15px;display:none;}
.form.hidden input{background:#f3f3f3}

.title{position:relative;}
.title .publish{background:#eee;display:inline-block;padding:3px 12px 0px 12px;border-radius:5px;
position:absolute;top:5px;right:5px;font-size:.9em;}

.question{background:#eee;padding:15px;border-radius:5px;max-width:81%;position:relative;}
.question:before{content:'';display:block;width:0px;height:0px;border:10px solid #fff;border-bottom:10px solid #eee;
position:absolute;top:-20px;left:15px}

.answer{background:#e0f1fe;padding:15px;border-radius:5px;width:81%;margin:0 0 0 19%;position:relative;}
.answer:before{content:'';display:block;width:0px;height:0px;border:10px solid #fff;border-bottom:10px solid #e0f1fe;
position:absolute;top:-20px;right:30px}
.answer textarea{width:100%;padding:10px;border:1px solid #ddd;border-radius:5px;
color:#333;min-height:150px;font:300 1em "微軟正黑體";line-height:1.7em;}
.answer input[type="submit"]{background:#3088cb;border:1px solid #ddd;padding:5px 15px;font-size:1em;border-radius:30px;
cursor:pointer;color:#fff;margin:10px 0 0 0;}
