<div id="content"> 
    <span><%= @post.created_at.to_date %></span>
    <h3><%= @post.title %></h3> 
    <div class="text">
      <%= @post.content.gsub("\n", "<br />").html_safe %>
    </div>
</div><!--content-->
<span class='st_sharethis_large' displayText='ShareThis'></span>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_email_large' displayText='Email'></span>