<a id="fb" href="https://www.facebook.com/sharer.php?u=<%=request.host_with_port%>" target="_blank"><img src="<%=image_path("application/fb.jpg")%>"></a>
<!-- <a name="fb_share" id="fb" type="icon"></a> 
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
        type="text/javascript">
</script> -->