  <div id="footer">
  <div id="info" itemscope itemtype="http://schema.org/Organization"> 
  	<span id="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">台北市中山區民權東路三段56號</span>
  	<span id="tel" itemprop="telephone">02-250-250-91</span> <br>
    <br>
    <span id="copyright">Copyright © 2012 <span itemprop="name">聚英視光眼科診所</span></span> 
  </div>
</div>