html{background:image-url("application/bg-style.jpg") 0 0 repeat-x #f8f8f8;font:300 16px "微軟正黑體",Arial}
body{font:300 16px "微軟正黑體",Arial;line-height:24px}
a{font:300 16px "微軟正黑體",Arial;text-decoration:none}
a:hover{text-decoration:underline}

#header{width:915px;margin:0 auto;height:175px;padding:0 0 0 25px!important;background:image-url("application/header.jpg") 0 0 no-repeat;}
#top{height:80px;overflow:hidden;}
h1{width:220px;height:47px;background:image-url("application/h1.png") 0 0 no-repeat;float:left;margin:20px 0 0 0}
h1 a{display:block;text-indent:-7777px;width:100%;height:100%;font-size:0px}

#nav{float:right;margin:30px 50px 0 0}
#nav li{float:left;font-size:13px;color:#fff;}
#nav li a {font-size:13px;color:#fff;text-shadow:0 -1px 2px #000}
#fb {position:absolute;top:25px;margin-left:15px;}

#banner{clear:both;height:95px;}
h2{font:300 46px 華康黑體,微軟正黑體;color:#a7a7a7;padding:35px 0 0 0;text-shadow:0 2px 0 #eee}

#container{width:940px;margin:0 auto;min-height:800px}
#bread-crumbs{padding:5px 0 0 30px;font-size:14px;color:#a7a7a7;height:95px;text-shadow:0 1px 0 #fff}
#bread-crumbs a{font-size:14px;color:#a7a7a7;text-shadow:0 1px 0 #fff}

#main .text{padding:25px}
#side {	width:350px;float:left;	margin:0 0 0 25px}
#content {width:565px;float:left}

#list{background:#fff;border:1px solid #d4d4d4;width:318px;padding:0 15px;font-size:12px;color:#747474}
#list a{color:#000}
#list a:hover{color:#3c8dcd}

.content-title{padding:15px 0;border-bottom:1px dashed #a3a3a3 }
#page{width:100%;height:15px;margin:0 0 25px 0;position:relative;}
#page ul{position:absolute;right:0px}
#page li{width:15px;height:15px;float:left;margin-right:5px;text-align:center}
#page li a{display:block;width:15px;height:15px;font-size:12px;background:#969696;color:#fff}
#page .active a{color:yellow}

#footer{clear:both;height:150px;background:image-url("application/footer.jpg") center 0 no-repeat #000;}	
#info{background:image-url("application/tel.jpg") 280px 37px no-repeat;width:940px;margin:0 auto;color:#fff;
padding:40px 0 0 0;line-height:10px;height:100px;}
#address{font:700 18px 華康黑體,微軟正黑體}
#tel{display:none}
#copyright{font-size:14px}

.no-border{border-bottom:0!important;}

#share_button{position:absolute;top:185px;margin-left:727px}
#share_button a{margin:0 4px}